<?php
/**
 * Geolocation configuration file.
 */

// Fetch method (recommended value: system)
// system - fetch geolocation information using local system GeoIP tools
// geoplugin - fetch geolocation information from http://www.geoplugin.net
// geoiptool - fetch geolocation information from https://www.geoiptool.com
$config['geolocation_fetch_method'] = 'system';

// Define your organization internal networks.
// IPs from these networks will not be asked about geolocation info.
$config['geolocation_internal_networks'] = array(
    '10.0.1.1'         => 'Admin IP',
    '10.0.1.0/30'      => 'Admin network',
    '10.0.2.0/20'      => 'FCUP - Botanico',
    '10.0.0.0/16'      => 'MyOrganization internal',
    '172.10.0.0/16'    => 'Eduroam',
    '193.194.195.0/20' => 'Eduroam externos',
    '193.194.1.0/24'   => 'MyOrganization',
    '2001:470:6d:80:1234:5678:83a9:f718/128' => 'Something 1',
    '2001:470:6d:80:1234:5678:fe84:0000/100' => 'Something 2',
    '2001:470:6d:80:1234:5678:a53:71c8' => 'Something 3',
);
